.loader {
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 10;
    background: white;
    top: 0px;
    transition: transform 1s ease-in-out;
}

.transition {
    top: 1000px;
}

.loader-logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -52.5px;
    overflow: hidden;
    width: 105px;
    height: 44px;
}

.loader-logo-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(0.000,  0.970, 1.000, 0.030);
}


.loader-logo-text {
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(0.000,  0.970, 1.000, 0.030);
}

.loader-logo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
