.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

section{
}

.lastSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interior, .interior .innerColumn{
  height: 60vh;
}

.contacts {
  color: black;
}

.contactTypeList {
  display: flex;
  flex-direction: column;
  border: 1px solid red
}

.contactTypeList .contactType {
  border: 1px solid blue;
  display: flex;
}

.socialTypeList {
  /*display: flex;
  flex-direction: row;*/
  border: 1px solid orange;
}

.socialTypeList .socialType {
  border: 1px solid indigo;
  /*display: flex;
  flex-direction: row;*/
}

.contactType h2, .contactType .socialTypeList{
  flex-basis: 50%;
}

.contactType h2{
  font-family: 'National';
  font-size: 1.5em;
}
@media(min-width:768px){
  .contactTypeList{
    flex-direction: row;

  }
  .contactTypeList .contactType{
    flex-basis: 50%;
  }
}
