.siteFooter {
  background-color: black;
}

.siteFooter .innerColumn{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.abosoluteClassFooter{
  bottom:0;
  position:fixed;
}
